<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mountain Travel</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="./styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
  <!-- Forked from a template on Tutorialzine: https://tutorialzine.com/2016/06/freebie-landing-page-template-with-flexbox -->
<header>
	<h2><a href="#">Mountain Travel</a></h2>
	<nav>
		<li><a href="#">Tours</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	</nav>
</header>

<section class="hero">
	<div class="background-image" style="background-image: url(https://images.unsplash.com/photo-1437422061949-f6efbde0a471?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=cb7884767a0cf44cccedc366cd2f07f9);">
	</div>
	<div class="hero-content-area">
		<h1>Mountain Travel</h1>
		<h3>Unmissable Mountain Tours Around The World</h3>
		<a href="#" class="btn">Contact Us</a>
	</div>
</section>

<section class="destinations">
	<h3 class="title">Some of our destinations</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
	<hr>

	<ul class="grid">
		<li class="small" style="background-image: url(https://images.unsplash.com/photo-1502003148287-a82ef80a6abc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=a7fa5a61f604440d520a4f76937feb48);"></li>
		<li class="large" style="background-image: url(https://images.unsplash.com/photo-1459231978203-b7d0c47a2cb7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=de7000e2c989885db57f7266d0d7b909);"></li>
		<li class="large" style="background-image: url(https://images.unsplash.com/photo-1533843352806-bd4132ebbf86?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=dd2b0a4b30559de6ab188864435ae779);"></li>
		<li class="small" style="background-image: url(https://images.unsplash.com/photo-1508789454646-bef72439f197?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=d9ef7dc9e97b9887ee1f4199bbbdc64a);"></li>
	</ul>
</section>

<section class="packages">
	<h3 class="title">Tour Packages</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</p>
	<hr>

	<ul class="grid">
		<li>
			<i class="far fa-compass fa-4x"></i></i>
			<h4>Guided Trips</h4>
			<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</li>
		<li>
			<i class="fas fa-camera-retro fa-4x"></i>
			<h4>Photo Trips</h4>
			<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident</p>
		</li>
		<li>
			<i class="fas fa-bicycle fa-4x"></i>
			<h4>Bicycle Tours</h4>
			<p>
			Consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</li>
		<li>
			<i class="fas fa-flag-checkered fa-4x"></i>
			<h4>Racing Trips</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
		</li>
	</ul>
</section>

<section class="testimonials">
	<h3 class="title">Testimonials from our adventures</h3>
	<hr>
	<p class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
	<p class="author">-Adam</p>
	<p class="quote">
	Proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<p class="author">-Steph</p>
	<p class="quote">Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
	<p class="author">-Simon</p>
</section>

<section class="contact">
	<h3 class="title">Learn More</h3>
	<p>Essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<hr>
	<form>
		<input type="email" placeholder="Email">
		<a href="#" class="btn">Subscribe now</a>
	</form>
</section>

<footer>
	<p>Images courtesy of <a href="http://unsplash.com/">unsplash</a>.</p>
	<p>Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat.</p>
	<ul>
		<li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
		<li><a href="# fa-2x"><i class="fab fa-facebook-square fa-2x"></i></a></li>
		<li><a href="#"><i class="fab fa-snapchat-square fa-2x"></i></a></li>
	</ul>
</footer>

</body>
</html>



